.battle-screen {
    position: relative;
    min-height: 800px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    background-image: url('../img/bg/1.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.battle-top {
    position: absolute;
    top: 0;
    width: 100%;
}

.battle-order {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 10px auto 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.battle-description {
    width: 500px;
    margin: 10px auto 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.battle-description.priority {
    z-index: 9;
    position: relative;
}

.order-warrior {
    margin: 10px 5px;
}

.order-warrior.active {
    filter: drop-shadow(0 0 7px rgb(0, 4, 253));
}

.order-warrior.dead {
    filter: grayscale(100%);
}

.order-warrior img {
    width: 60px;
}

.battlefield {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.left-field {
    display: flex;
    width: 50%;
}

.right-field {
    display: flex;
    width: 50%;
}

.field-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.field-row-section {
    position: relative;
    height: 100px;
    box-shadow: 0 0 5px #e5ea52;
}