.settings-screen {
    padding: 4rem 0 6rem;
}

.settings-title {
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.settings-header {
    text-align: center;
}

.settings-img img {
    width: 350px;
}

.settings-level {
    margin: 30px auto;
}

.settings-level-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.settings-level-block .level {
    font-size: 20px;
    width: 100px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 3px solid transparent;
}

.settings-level-block .level.easy {
    background-color: #059b40;
    filter: drop-shadow(0 0px 6px rgb(79, 149, 9));
}

.settings-level-block .level.medium {
    background-color: #c4972c;
    filter: drop-shadow(0 0px 6px rgb(242, 135, 21));
}

.settings-level-block .level.hard {
    background-color: #fb7e7ec2;
    filter: drop-shadow(0 0px 6px rgb(236, 42, 91));
}

.settings-level-block .level.active,
.settings-level-block .level.easy:hover,
.settings-level-block .level.medium:hover,
.settings-level-block .level.hard:hover {
    filter: drop-shadow(0 0px 16px rgb(215, 77, 77));
    border: 3px solid crimson;
}

.settings-warriors {
    margin-top: 3em;
}

.settings-warriors-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.settings-warriors .warrior {
    background-color: #dfdfdff0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid transparent;
}

.settings-warriors .warrior:hover {
    filter: drop-shadow(0 0px 26px rgb(77, 111, 215));
    border: 5px solid #6514dc;
}

.settings-warriors .warrior.active {
    filter: drop-shadow(0 0px 26px rgb(215, 77, 77));
    border: 5px solid crimson;
}

.settings-warriors .warrior.disabled {
    background-color: #595959;
    cursor: default;
    filter: grayscale(100%);
    pointer-events: none;
}

.settings-warriors .warrior.disabled:hover {
    border: 5px solid transparent;
}

.settings-warriors .warrior-wrapper {
    display: flex;
}

.settings-warriors .warrior-portrait {
    display: flex;
    align-items: center;
}

.settings-warriors .warrior-portrait img {
    width: 150px;
    height: max-content;
    filter: drop-shadow(0 0px 6px rgb(9, 116, 149));
}

.settings-warriors .warrior-description {
    padding-left: 7px;
}

.settings-warriors .warrior-name {
    font-size: 22px;
    font-weight: bold;
}

.settings-warriors .warrior-type {
    margin-top: 5px;
}

.settings-warriors .warrior-descr {
    margin-top: 5px;
    font-style: italic;
}

.settings-warriors .warrior-features {
    margin-top: 5px;
    font-size: 14px;
}

.settings-submit {
    margin-top: 4rem;
}

.settings-submit-button {
    font-size: 24px;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 3px solid transparent;
    background-color: #ff4f5f;
    filter: drop-shadow(0 0px 10px rgb(240, 50, 98));
    transition: 0.5s;
}

.settings-submit-button:hover {
    transform: scale(1.1);
    background-color: #bd3340;
}

.settings-submit-button.disabled {
    background: #979292;
    color: #bfbaba;
    filter: none;
    cursor: default;
    pointer-events: none;
}

.settings-submit-button:hover {
    transform: none;
}