:root {
    --crimson: #ea5271;
    /* --trickyScale: 1; */
}

body {
    min-width: 1200px;
    margin: 0;
    background-color: #2f2a2a;
    /*transform: scale(var(--trickyScale));*/
    overflow-x: hidden;
}


h1,
.screen-title {
    margin: 10px 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

a {
    color: var(--crimson);
}

a:hover {
    color: #3fbcd0;
}

.dnone {
    display: none;
}

header {
    background: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 150px;
}

.logo .logo-text {
    margin-left: 10px;
    font-size: 20px;
}

.logo:hover .logo-text {
    color: var(--crimson);
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu li.active,
.nav-menu li:hover {
    color: var(--crimson);
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

.main-screen {
    position: relative;
    background-image: url("../img/bg/bg8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    background: #000000;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
    color: #ffffff;
}

.footer-block {
    width: 33.3333%;
    text-align: center;
}

.footer-block:last-child {
    display: flex;
    justify-content: end;
}

a.footer-github {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

a.footer-github:hover {
    color: var(--crimson);
    text-decoration: underline;
}

a.footer-github img {
    width: 50px;
}

a.footer-github span {
    margin-left: 20px;
}

a.footer-rss img {
    width: 100px;
}