.field-row-section:first-child .unit {
    left: auto;
    right: 0;
}

.field-row-section:last-child .unit {
    left: 0;
    right: auto;
}

.unit {
    position: absolute;
    left: 25%;
    bottom: 0;
}

.unit-name {
    width: fit-content;
    margin: 0 auto 5px;
    padding: 5px 10px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.unit-health {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    margin: 0 auto 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.unit-health .hp {
    width: 4px;
    height: 10px;
    box-sizing: border-box;
    margin: 0 1px;
    background-color: #00c3ff;
}

.unit-health .hp.empty {
    background-color: transparent;
    border: 1px solid #00c3ff;
}

.enemy .unit-health .hp {
    background-color: crimson;
}

.enemy .unit-health .hp.empty {
    background-color: transparent;
    border: 1px solid crimson;
}

.unit img {
    width: 250px;
}

.unit.active {
    filter: drop-shadow(0 0 7px rgb(4, 161, 255));
}

.unit.select-unit {
    filter: drop-shadow(0 0 2px rgb(220, 217, 20));
    transition: 0.5s;
    cursor: pointer;
}

.unit.select-unit:hover,
.unit.select-unit.row-selected {
    filter: drop-shadow(0 0 5px crimson);
    transform: scale(1.1);
}

.unit .icon-image {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: zoom-in 3s ease-in-out;
    animation-iteration-count: 1;

}

.unit .icon-image.attack-image {
    background-image: url('../img/battle-icons/attack.png');
}

.unit .icon-image.shield-image {
    background-image: url('../img/battle-icons/shield.png');
}

.unit .icon-image.buff-image {
    background-image: url('../img/battle-icons/buff.png');
}

.unit .icon-image.debuff-image {
    background-image: url('../img/battle-icons/debuff.png');
}

.unit .icon-image.death-image {
    background-image: url('../img/battle-icons/death.png');
}

.unit-effects {
    width: fit-content;
    margin: 2px auto 0;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.unit-effects .effect-icons img {
    width: 10px;
}

.unit-effects .effect-text {
    font-size: 10px;
    color: #fff;
}